*{
    margin: 0;
    padding: 0;
}
.top{
    background-image: url(images/Rectangle\ 237.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
}

.top h1{
    text-align: center;
    color: white;
    font-weight:800;
    font-size: 50px;
    padding-top: 200px;
    margin-bottom: 50px;
}
.top p{
    text-align: center;
    color: white;
    margin-bottom: 50px;
    word-spacing: 1px;
}
.top a{
    margin-top: 0px;
    margin-left: 40%;
    text-decoration: none;
    color:white;
    background-color: #f74747;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
 
.display{
    padding-top: 100px;
    padding-bottom: 60px;
    /*padding-left: 30%;
    */
    
}
.top-middle h1{
    font-size: 30px;
    padding-left: 45%;
    padding-bottom: 2%;
}
.display p{
    color: black;
    padding-left: 0;
    text-align: center;
}
.Money-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 30%; 
    padding-bottom: 20px;
}
.Money-form li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.white-box{
  box-sizing: border-box;
  width: 90px;
  height: 50px;
  border: 2px solid transparent;
  background-color: rgb(236, 241, 241);
  border-radius: 10px;
}
.red-box{
    box-sizing: content-box;
    width: 90px;
    height: 30px;
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(240, 186, 172);
    border-radius: 10px;
}

.submit-form{
    padding-bottom: 2000px;
}
.submit-form form{
    padding-left: 30%;
    padding-bottom: 30px;
    width: 380px;
    max-width: 100%;
 
}

.submit-form form input:first-child{
    width: 130%;
    outline: 0%;
    border-width: 0 0 1px;
    text-align: center;
    
}

.submit-form a{
        padding: 10px 10px;
        margin-left: 45%;
        text-decoration: none;
        color:white;
        background-color: #f34e4e;
        font-weight: 700;
        border-radius: 5px;
        text-align: center;
    }
